Images.*
*Tests*
*.lproj
*.xcodeproj
*.eep
*.elf
*.hex
*.lss
*.lst
*.map
*.o
*.sym
build/
runaverice.sh
Images.*
*Tests*
*.lproj
*.xcodeproj
*.eep
*.elf
*.hex
*.lss
*.lst
*.map
*.o
*.sym
build/
runaverice.sh
gitignore.txt
Lesestudio/Base.lproj/
Lesestudio.xcodeproj/*
UserInterfaceState.xcuserstate